/* 
0 - 600: phone
600 - 900: portrait tablet
900 - 1200: landscape tablet
1200+: desktop (desktop-first method)
$breakpoint
- phone
- tab-port
- tab-land
1em = 16px
In case the user resizes their font
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: rgba(0, 198, 224, 0.3); }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.site-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10rem; }

.content-container {
  width: 80%;
  margin: 0 3rem 3rem auto; }

.content__container {
  padding: 0;
  margin: 2rem 2rem;
  background-color: rgba(55, 58, 104, 0.3);
  display: flex;
  flex-direction: column; }

.content__container:first-child {
  padding-top: 0;
  margin-top: 0; }

.content__header {
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex; }
  .content__header-title {
    padding: .5rem;
    margin-left: 2rem; }

.content__body {
  padding: 2rem;
  line-height: 1.25;
  display: flex;
  transition: all 400ms; }
  .content__body:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .content__body-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem; }
  .content__body-text-ul {
    list-style: initial; }
  .content__body-text-li {
    list-style: initial;
    list-style-position: inside; }
  .content__body-image {
    max-width: 100%;
    max-height: 100%; }
  .content__body-image-container {
    width: 35%;
    height: 35%; }

.content__links {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem; }

.content__link-item {
  border-radius: 10%; }

.nav-box-list-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #373a68;
  left: 0;
  height: 100%;
  /* Full height */
  position: fixed;
  /* Make it stick, even on scroll */
  overflow: auto;
  /* Enable scrolling if the sidenav has too much content */ }

.nav-box-link {
  padding: 1rem;
  width: 100%;
  transition: all 400ms;
  display: inline-block;
  color: #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }
  .nav-box-link:hover:not(.nav-box-link-disabled) {
    background-color: rgba(0, 0, 0, 0.2); }
  .nav-box-link-disabled {
    background-color: #00c6e0;
    color: black; }

.nav-box-link, .nav-box-link:visited, .nav-box-link:active {
  text-decoration: none; }

.nav-box-text {
  font-size: 2rem; }

.btn, .btn:link, .btn:visited {
  border-radius: 2rem;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all 400ms;
  text-decoration: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: black; }

.btn--red {
  background-color: red;
  color: white; }

.btn--blue {
  background-color: blue;
  color: white; }

.btn--green {
  background-color: green;
  color: white; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  transition: all 400ms;
  font-size: 2rem;
  color: #305a91;
  border-bottom: 1px solid #305a91;
  padding: 3px;
  margin: 1rem auto; }
  @media (max-width: 56.25em) {
    .btn-text:link, .btn-text:visited {
      font-size: 2rem; } }

.btn-text:hover {
  background-color: #305a91;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn-text--white:link, .btn-text--white:visited {
  color: white;
  border-bottom: 1px solid white; }

.btn-text--white:hover {
  background-color: white;
  color: #305a91; }

.header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: #305a91;
  width: 100%;
  max-height: 7rem; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; }
    .header__nav-list {
      display: flex; }
      .header__nav-list:first-child {
        margin-left: 4rem; }
      .header__nav-list-item {
        padding: 1rem;
        margin: 1rem 2rem;
        font-size: 2rem; }
        .header__nav-list-item-link {
          transition: color 400ms; }
        .header__nav-list-item-link, .header__nav-list-item-link:visited, .header__nav-list-item-link:active {
          text-decoration: none;
          color: white; }
        .header__nav-list-item-link:hover {
          color: #00a8a8; }
        .header__nav-list-item-link-disabled {
          color: #00a8a8; }
  .header__logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__logo-text {
      color: white;
      font-size: 3rem;
      margin: 0 4rem; }
    .header__logo-picture {
      max-width: 15%;
      max-height: 6rem; }
