.content {
    &__container {
        padding: 0;
        margin: 2rem 2rem;
        background-color: $color-primary-background-dark;
        display: flex;
        flex-direction: column;
    }

    &__container:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    &__header {
        font-size: 3rem;
        font-weight: bold;
        background-color: $color-shade-darker;

        display: flex;
        
        &-title {
            padding: .5rem;
            margin-left: 2rem;
        }
    }

    &__body {
        padding: 2rem;
        line-height: 1.25;
        display: flex;
        transition: all 400ms;
        &:hover {
            background-color: rgba(255, 255, 255, .1)
        }

        &-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2rem;
        }

        &-text-ul {
            list-style: initial;
        }

        &-text-li {
            list-style: initial;
            list-style-position: inside;
        }

        &-image {
            max-width: 100%;
            max-height: 100%;
        }
        
        &-image-container {
            width: 35%;
            height: 35%;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }

    &__link-item {
        border-radius: 10%;
    }
}