.header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: $color-primary;
    width: 100%;
    max-height: 7rem;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow: 1;

        &-list {
            display: flex;

            &:first-child {
                margin-left: 4rem;
            }
    
            &-item {
                padding: 1rem;
                margin: 1rem 2rem;
                font-size: 2rem;
                &-link {
                    transition: color 400ms;
                }

                &-link,
                &-link:visited,
                &-link:active {
                    text-decoration: none;
                    color: $color-white;
                }

                &-link:hover {
                    color: $color-secondary-light;
                }
                &-link-disabled {
                    color: $color-secondary-light;
                }
            }
        }
    }

    &__logo {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        &-text {
            color: $color-white;
            font-size: 3rem;
            margin: 0 4rem;
        }
        &-picture {
            max-width: 15%;
            max-height: 6rem;
        }
    }
}