.nav-box {

    &-container {
        @include respond(phone) {
            display: none;
        }
    }

    &-list-header {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: $color-primary-dark;
        left: 0;
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }

    &-link {
        padding: 1rem;
        width: 100%;
        transition: all 400ms;
        display: inline-block;
        color: $color-gray-light-1;
        border-bottom: 1px solid $color-gray-light-1;
        &:hover:not(&-disabled) {
            background-color: rgba(0, 0, 0, .2);
        }
        &-disabled {
            background-color: $color-primary-light;
            color: $color-black;
        }
    }

    &-link,
    &-link:visited,
    &-link:active {
        text-decoration: none;
    }

    &-text {
        font-size: 2rem;
    }
    
}